* {
    box-sizing: border-box;
}

div {
    unicode-bidi: isolate;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: burlywood; */
}

/* footer {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1100px;
    height: auto;
} */

.gray-part {
    background: linear-gradient(180deg, #fff, #f7f7f7);
    height: 1000px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#whole-content {
    width: 1180px;
    height: 100%;
    background-color: rgb(17, 29, 30);
    /*To identify the content; Must remove it later*/
}

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid pink;
    height: 40px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.red-dot {
    content: "";
    background-color: #e00034;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    position: absolute;
    left: 9px;
    top: 7px;
}

.Helvetica-Neue {
    font-family: Helvetica Neue, sans-serif;
    text-transform: none;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    min-height: 0 !important;
}

.pos-relative {
    position: relative;
}

.logos-weather-calendar {
    width: 20px;
    height: 20px;
}

/* .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
} */
.sections-that-appear-when-you-hover {
    display: none;
    border: 1px solid pink;
}

.second-div {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    width: 100%;
    height: 385px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.second-div-left {
    width: 557px;
    height: 385px;
    background-color: coral;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 57px;
    padding-bottom: 60px;
    text-align: left;
}

.second-div-right {
    width: 543px;
    height: 385px;
    /* display: flex;
    justify-content: right; */
    background-color: darkblue;
    border-radius: 6px;
    /* position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

.second-div-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
    margin-top: 10px;
    font-weight: 500;
    min-height: 48px;
    overflow: hidden;
    line-height: 20px;
}

/* .second-div-right-img{
    
    width:auto;
    height: auto;
    max-height: 385px;

} */
.button-business {
    width: 73.02px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    border-radius: 100px;
    padding: 8px 15px;
}

.third-div {
    width: 100%;
    height: 333px;
    /* background-color: slategrey; */
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.heading-2 {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: left;
    margin-top: 10px;
}

/* .highlight-title{
    line-height: 36px !important;
    transition: all .2s ease-in-out;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;

} */
.arrow-behind-text {
    width: 20px;
    height: 20px;
}

.hidden-element {
    display: none;
    /* Initially hidden */
}

.text-before-hover:hover+.hidden-element {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    opacity: 0.4;
    /* Show as flex when hovering */
}

/* .text-before-hover{
    position:absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    opacity: 0;
 } */




.img-zoom-container {
    position: relative;
    overflow: hidden;
}

.img-zoom {
    transition: transform 0.3s ease;
}

.img-zoom-container:hover .img-zoom {
    transform: scale(1.1);
}

.img-object-fit {
    object-fit: cover;
    overflow: hidden;
}

.hide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

.hide-container {
    width: 213px;
    height: 175px;
    position: relative;
}

.hide-container:hover .hide {
    opacity: 0.4;
    transition: 0.3s;
}

.transition {
    scale: 1.1;
}

.share-img-big {
    width: 16px;
    height: 16px;
    color: #c6c6c6;
    margin-right: 5px;
}

.share-img {
    width: 13px;
    height: 13px;
    color: #c6c6c6;
}

.button-share {
    font-family: ;
    font-weight: 800;
    color: #c6c6c6;
}

.div-third-3images {
    width: 264px;
    height: 175px;
    transition: 0.3s;

}

.div-third-3images:hover {
    transform: scale(1.2);
    object-fit: cover;
    overflow: hidden;
}

.div-third-img4 {
    width: 263px;
    height: 270px;
}

.div-third-divs {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    overflow: hidden;
}

.div-third-texts {
    width: 264px;
    height: auto;
    line-height: 22px;
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;

}

.comment-button {
    width: 13px;
    height: 12px;
}

.share-button {
    width: 13px;
    height: 13px;
}

.margin-right-20 {
    margin-right: 20px;
}

.div-third-comment-gray {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 400
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.section-gogo-story {
    padding-left: 40px;
    padding-right: 40px;
    background-color: yellow;
    height: auto;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title-gogo-story {
    padding-left: 40px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.label-blue {
    margin-left: 10px;
    color: #fff;
    padding: 2px 3px;
    background-color: #00b0f4;
    border-radius: 3px;
}

.div-gogo-story-container {
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stories-container {
    width: 171px;
    height: 235px;
    position: relative;
    overflow: hidden;
}

.stories {
    width: 171px;
    height: 235px;
    border-radius: 5px;

    transition: transform 0.3s;

}

.stories-top-left {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.stories:hover {
    transform: scale(1.1);
    object-fit: cover;
    overflow: hidden;
}

.story-button {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.story-right-button-container {

    width: 30px;
    height: 30px;

}

.story-button-svg {
    width: 8px;
    height: 14px;

}

.big-div {
    /* background-color: khaki; */
    padding-left: 40px;
    display: flex;

}

.big-div-left-top {
    width: 760px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.todaynews-icon {
    width: 23px;
    height: 26px;

}

.todaynews {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-bottom: 5px;
    font-weight: 700;
    color: #407ce8;
}

.calendar {
    background-color: #407ce8;
    transition: all .2s ease-in-out;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.calendar-one-day {
    height: 7px;
    border-radius: 20px;

}

.big-div-news-container {

    width: 690px;
    height: 171px;
}

.big-div-image {
    width: 210px;
    height: 150px;
    border-radius: 5px;
    margin-right:30px;
}

h3 {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 700;
    line-height: 26px !important;
    font-size: 19px;
    margin: 0;
    color: #000;
}

.text-15 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #888;
    height: 46px;
    overflow: hidden;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

}
.size-14{
    width:14px;
    height:14px;
}
.margin-right-30{
    margin-right:30px;
}
.clock-svg{
    width:15px;
    height:16px;
}
.margin-right-10{
    margin-right:10px;
}
.big-div-right{
    width:auto;
    height:auto;
    padding-right: 40px;
}
hr{
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    border-width: 0.5px;
}
.tree{
    width:25px;
    height:30px;
}
.tree-text{
    font-size: 20;
    line-height: 26px;
    color:#000;
    font-weight: 700;
}
.share12{
    width:12px;
    height: 12px;
}
.big-div-right-image{
    width: 290px;
    height: 170px;
    border-radius: 5px;
}
.big-div-right-news{
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color:#000;
}
.big-div-right-share{
    margin-top: 5px;

}