#all-news-and-content{

}
body{
    
}
#gray-section{
    background: linear-gradient(180deg, #fff, #f7f7f7);
    height: 857px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#header-container{
    ma
}